@media print {
    .printEl { 
        width: 595px;
        height: 842px;
    }
    .container{
        font-size: 32px;
        margin:0 auto;
        text-align: left;
        line-height: 1.6;
        font-family: garamond;
    }
    p{
        padding:5px;
    }
  }
